<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <title>AXIS登录</title>
    <meta name="keywords" content="AXIS"/>
    <meta name="description" content="AXIS"/>
    <link href="hplus/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet"/>
    <link href="hplus/css/animate.min.css" rel="stylesheet"/>
    <link href="hplus/css/style.min.css" rel="stylesheet"/>
    <link href="hplus/css/login.min.css" rel="stylesheet"/>
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>

</head>

<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>[ axis ]</h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>欢迎 <strong></strong></h4>
                </div>
            </div>
            <div class="col-sm-5">
                <form method="post" action="http://www.zi-han.net/theme/hplus/index.html">
                    <h4 class="no-margins">登录：</h4>
                    <p class="m-t-md">登录到axis</p>
                    <input type="text" class="form-control uname" placeholder="用户名" />
                    <input type="password" class="form-control pword m-b" placeholder="密码" />
                    <a href="#">忘记密码了？</a>
                    <button class="btn btn-success btn-block">登录</button>
                </form>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2017 All Rights Reserved. AXIS
            </div>
        </div>
    </div>
</body>

</html>
