<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <title>AXIS登录</title>
    <meta name="keywords" content="AXIS"/>
    <meta name="description" content="AXIS"/>
    <link href="hplus/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet"/>
    <link href="hplus/css/animate.min.css" rel="stylesheet"/>
    <link href="hplus/css/style.min.css" rel="stylesheet"/>
    <link href="hplus/css/login.min.css" rel="stylesheet"/>
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>

</head>

<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>[ axis ]</h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>欢迎 <strong></strong></h4>
                </div>
            </div>
            <div class="col-sm-5">
                <h4 class="no-margins">登录：</h4>
                <p class="m-t-md">登录到axis</p>
                <input type="text" class="form-control uname" placeholder="用户名"  id="loginAccount"/>
                <input type="password" class="form-control pword m-b" placeholder="密码"  id="password"/>
                <span  id="tip" style="color: #c7254e; display:none" >账号或密码错误</span>
                <button class="btn btn-success btn-block" id="btn_login">登录</button>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2017 All Rights Reserved. AXIS
            </div>
        </div>
    </div>
<div style="display:none">
    <input th:value="${pubExponent}"  id="pubexponent"/>
    <input th:value="${pubModules}"  id="pubmodules"/>
</div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var $path_base = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
<script  type="application/javascript" src="hplus/js/jquery.min.js"/>
    <script  type="application/javascript" src="js/security.js"/>
    <script  type="application/javascript" src="js/login.js"/>

</body>

</html>
