<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydlx.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.ydlx.domain.info.MenuInfo" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="parentid" property="parentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="leaf" property="leaf" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="createtime" property="createTime" jdbcType="DATE" />
    <result column="modifytime" property="modifyTime" jdbcType="DATE" />
  </resultMap>
  
  <sql id="Base_Column_List" >
      id, parentid, name, leaf, icon, path, level, url, target, operator, createtime, modifytime
  </sql>

  <!--获取菜单列表-->
  <select id="getList" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
          <include refid="Base_Column_List" />
        from t_s_menu
    <where>
      <if test="list.size() &gt; 0  " >
        ID in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
        order by id ASC
  </select>

  <!--根据角色ID获取菜单列表-->
  <select id="getListByRoleId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    b.id, b.parentid, b.name, b.leaf, b.icon, b.path, b.level, b.url, b.target, b.operator, b.createtime, b.modifytime
    from t_s_role_menu a LEFT JOIN t_s_menu b on a.menuid = b.id
    <where>
      <if test="list.size() &gt; 0  " >
        a.roleid in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
    order by a.id ASC
  </select>

<!--新增菜单-->
  <insert id="insert" parameterType="com.ydlx.domain.info.MenuInfo" >
    insert into t_s_menu
      (parentid, name, leaf, icon, path, level, url, target, createtime, modifytime, operator)
    VALUES
      (
        #{parentId, jdbcType=INTEGER},
        #{name, jdbcType=VARCHAR},
        #{leaf, jdbcType=INTEGER},
        #{icon, jdbcType=VARCHAR},
        #{path, jdbcType=VARCHAR},
        #{level, jdbcType=VARCHAR},
        #{url, jdbcType=VARCHAR},
        #{target, jdbcType=VARCHAR},
        #{createTime, jdbcType=DATE},
        #{modifyTime, jdbcType=DATE},
        #{operator, jdbcType=VARCHAR}
      )
  </insert>

  <!--更新菜单-->
  <update id="update" parameterType="com.ydlx.domain.info.MenuInfo" >
    update t_s_menu
    <set >
      <if test="parentId != null and 0 != parentId" >
        parentId = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="leaf!= null" >
        leaf = #{leaf,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        icon = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modifyTime = #{modifyTime,jdbcType=DATE},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>


  <!---删除菜单-->
  <delete id="delete" parameterType="DECIMAL">
    delete from t_s_menu where id = #{id,jdbcType=DECIMAL}
  </delete>
</mapper>