<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydlx.dao.RoleMapper" >

  <resultMap id="BaseResultMap" type="com.ydlx.domain.info.RoleInfo" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="rolename" property="roleName" jdbcType="VARCHAR" />
    <result column="rolecode" property="roleCode" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="createtime" property="createTime" jdbcType="DATE" />
    <result column="modifytime" property="modifyTime" jdbcType="DATE" />
    <collection property="menuIds" javaType="list" ofType="Integer">
      <result column="menuid" property="menuId"/>
    </collection>

  </resultMap>

  
  <sql id="Base_Column_List" >
      a.id, a.rolename, a.rolecode, b.menuid as menuid, a.operator, a.createtime, a.modifytime
  </sql>

    <!--查询角色信息-->
  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
          <include refid="Base_Column_List" />
        from t_s_role a left join t_s_role_menu b on a.id = b.roleid
    <where>
        a.id = #{id}
    </where>
        order by a.id ASC
  </select>
  

<!--写入新角色信息-->
  <insert id="insert" parameterType="com.ydlx.domain.info.RoleInfo" >
    insert into t_s_role
       (rolecode, rolename, createtime, modifytime, operator)
    VALUES
    (
      #{roleCode, jdbcType=VARCHAR},
      #{roleName, jdbcType=VARCHAR},
      #{createTime, jdbcType=DATE},
      #{modifyTime, jdbcType=DATE},
      #{operator, jdbcType=VARCHAR}
    )
  </insert>

    <!--更新角色信息-->
  <update id="update" parameterType="com.ydlx.domain.info.RoleInfo" >
    update t_s_role
    <set >
      <if test="roleCode != null" >
          rolecode = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
          rolename = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime!= null" >
          modifytime = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
          operator = #{operator,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id, jdbcType=DECIMAL}
  </update>

    <!--删除角色-->
    <delete id="delete" parameterType="DECIMAL">
        delete from t_s_role where id= #{id, jdbcType=DECIMAL}
    </delete>
</mapper>